@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NameSmile;
  src: url("../../public/fonts/NameSmile.otf") format("opentype");
}
body{
  display: flex;
  background-color: #F3F3F3;
}